body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: white;
    font-family: 'Inter', sans-serif;
    width: 100vs;
    min-height: 100vh;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.header {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 12vh;
    border-bottom: rgb(163, 163, 163) solid 1px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px; /*Increased left padding*/
    padding-right: 40px;
    box-sizing: border-box;
    align-items: center;
    /* margin: 0 auto; Center the header */
}

button:hover,
.black_button:hover,
.white_button:hover,
.sign_in_button:hover,
.register_button:hover {
    box-shadow: 0 6px 20px rgba(44, 44, 44, 0.18), 0 2px 8px rgba(44, 44, 44, 0.12);
    transition: box-shadow 0.2s;
    cursor: pointer;
}

.footer {
    background-color: green;
    width: 100%;
    margin: 0 auto;
}

.Landing_body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
}

.Logo_title {
    font-weight: initial;
    display: flex;
}
.Left_header-Div{
    display: flex;
}
.header_router_link{
    margin-left: 20px;
    color: rgb(68, 68, 68);
    cursor: pointer;

}
.black_button{
    background-color: #2C2C2C;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 1s ease-in-out;

}
.black_button:hover{
    background-color: #3f3f3f;
}

.white_button{
   background-color: #E3E3E3;
   border: #767676 solid 1px;
    color: black;
    border-radius: 10px;
    margin-right: 10px; 
    transition: all 1s ease-in-out;
    
}
.white_button:hover{
    background-color: rgb(230, 230, 230)

}
.Sign_in_register_buttons{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sign_in_button{
    width: 70px;
    height: 30px;
}
.register_button{
    width: 70px;
    height: 30px;
}